@use '../../../styles/variables.scss' as v;

.rightSideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-height: 100vh;
    width: 100%;
}
.rightSideContainerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid gray;
    color: white;
}
.rightSideContainerBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
}
.rightSideContainerFooter
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 5vh;
    border-top: 1px solid gray;
    color: white;
}