

$primary-color: #0070f3;
$secondary-color: #2f00ff;
$background-color: #b4b4b4;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;


:export {
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  background-color: $background-color;
  success-color: $success-color;
  error-color: $error-color;
  warning-color: $warning-color;
}
