

$primary-color: #0070f3;
$secondary-color: #2f00ff;
$background-color: #000000;


:export {
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  background-color: $background-color;
}
