@use '../../../styles/variables.scss' as v;

.activeAssignmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    // height: 100px;
    width: 95%;
    max-width: 400px;
    margin: 4px 0 4px 0;
    background-color: #c2c2c2;
    border-radius: 10px;

    p {
        margin: 4px 0;
        padding: 0px;
        font-weight: 400;
    }
}


.activeAssignmentHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 4px 0;
    border-bottom: 1px solid gray;
}

.activeAssignmentBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    width: 90%;
    height: 100%;

    .activeAssignmentInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 60%;
        height: 100%;
    }

    .activeAssignmentInfoText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 100%;
    }
}

.activeAssignmentButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 4px 0;
}

.activeAssignmentButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 4px 8px;
    border-radius: 10px;

    p {
        margin: 0px;
        padding: 0px;
        font-weight: 500;
    }
}